@import url("node_modules/leaflet/dist/leaflet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    border-width: 1px;
}

.icon {
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.required:after {
    content: '*';
    margin-left: 2px;
    @apply text-red-500;
}

.map-control-border {
    border: 2px solid rgba(0,0,0,0.2);
}